<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0" >
    <mat-sidenav #snav mode="side" [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" >

      <mat-toolbar color="primary" class="example-toolbar">
        <span fxFlex></span>
        {{title}}
      </mat-toolbar>

      <mat-nav-list>
        <div *ngFor="let nav of menuItem">
          <a mat-list-item mat-ripple  [routerLink]="nav.path">{{nav.text}}</a>
        </div>
        <mat-list-item *ngFor="let kind of kinds">
          <a [routerLink]="[kind.route]"  >{{kind.kind}}</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon *ngIf="!snav.opened">menu</mat-icon>
          <mat-icon *ngIf="snav.opened">chevron_left</mat-icon>
        </button>

        <button  mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
        <!-- <button  mat-icon-button (click)="goBack()"><mat-icon>arrow_forward</mat-icon></button> -->

        <span fxFlex></span>

        <mat-form-field *ngIf="namespaces" fxLayoutGap="10"  fxLayout="row" fxLayoutAlign="start end">
          <mat-select [(value)]="selectedNamespace" (selectionChange)="onNamespaceSelect($event.value.metadata.name)" >
            <mat-option *ngFor="let ns of namespaces" [value]="ns"  >
              {{ns.metadata.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <button mat-button [matMenuTriggerFor]="namespaceMenu">
          <mat-icon>more_vert</mat-icon>
        </button> -->
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-container>

  <!-- <mat-menu #namespaceMenu="matMenu" fxLayoutGap="10"  fxLayout="row" fxLayoutAlign="start end">
    <div *ngIf="namespaces">
      <a mat-menu-item *ngFor="let ns of namespaces" href="" [routerLink]="ns.metadata.name" >
        {{ns.metadata.name}}
      </a>
  </div>
  </mat-menu> -->

</div>
