<mat-list >
  <mat-list-item *ngFor="let svc of services"  fxFill fxLayout="column" fxLayoutAlign="start none"  fxLayoutGap="10px">
      <mat-card *ngIf="services" fxFill fxFlex>

        <mat-card-header>
          <mat-card-title>
            {{svc.metadata.name}}
          </mat-card-title>
          <mat-card-subtitle>
            {{svc.metadata.selfLink}}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
          <a mat-button [routerLink]="[svc.metadata.name]" routerLinkActive="router-link-active" [state]="svc" >Details</a>
        </mat-card-actions>
        </mat-card>
  </mat-list-item>
</mat-list>

<mat-card *ngIf="services && services.length == 0" fxFill >
    <mat-card-header>
      <mat-card-title>
        No Services found
      </mat-card-title>
    </mat-card-header>
  </mat-card>
